.nav {
  font-size: 2em;
  background-color: #00bfff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #393e46;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .nav {
    background: red;
    width: inherit;
    color: white;
    margin: auto;
  }
}
