/* .parentContainer {
  display: flex;
} */

.parentContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Tablet */
@media (max-width: 1024px) {
  .parentContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .parentContainer {
    flex-direction: column;
    align-items: center;
  }
}
