/* .InnerContainer {
  flex: 1;
  padding: 10px;
  margin: 10px;
} */

.InnerContainer {
  flex: 1;
  padding: 10px;
  margin: 10px;
  /* width: 50%; */
  min-width: 0 !important;
}

/* Tablet */
@media (max-width: 1024px) {
  .InnerContainer {
    margin: 8px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .InnerContainer {
    margin: 3px;
    padding: 5px;
    width: 50% !important;
    min-width: 50% !important;
    /* border: 3px solid green; */
  }
}
