/* .itemContainer {
  display: flex;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 4px 6 px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.nameContainer {
  margin-left: 50px;
}
.name {
  font-size: larger;
  font-weight: bold;
}

.amount {
  font-weight: bold;
} */

.itemContainer {
  display: flex;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.nameContainer {
  margin-left: 50px;
}

.name {
  font-size: larger;
  font-weight: bold;
}

.amount {
  font-weight: bold;
}

/* Tablet */
@media (max-width: 1024px) {
  .itemContainer {
    margin: 20px;
  }
  .nameContainer {
    margin-left: 20px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .itemContainer {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .nameContainer {
    margin-left: 0;
    text-align: center;
  }
}
