/* .searchContainer {
  margin: 10px auto;
}
.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #393e46;
}
@media (max-width: 600px) {
  .searchContainer {
    width: 100%;
  }
  .input {
    width: 100%;
  }
} */

.searchContainer {
  margin: 10px auto;
  width: 50%;
}

/* Tablet */
@media (max-width: 1024px) {
  .searchContainer {
    width: 70%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .searchContainer {
    width: 90%;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #393e46;
}
