.TopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 15px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.TopButton:hover {
  background-color: #ff7f50;
}
