/* body {
  margin: 0;
  border: 3px solid yellow;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}
